# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.swp
*.egg-info/
*.egg

# Virtual environment
venv/
venv/
env/
.venv/
ENV/
.ENV/

# Flask instance folder (contains config, DB, secrets)
instance/

# Flask session files
flask_session/

# Environment variables
.env

# IDE / Editor
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Logs / databases
*.log
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# Cookies or temporary files
cookies.txt

# Python build / packaging
build/
dist/
__pycache__/
*.egg-info/

# Coverage
htmlcov/
.coverage

# Jupyter
.ipynb_checkpoints/
